<app-title title="Defer Triggers"></app-title>

<section>
  <h1 class="text-xl"> Interacciones</h1>
  <hr class="my-2">


  @defer ( on interaction ) {
    <app-heavy-fast-slow cssClass="bg-blue-500 h-20" >
      <span class="text-center">On Interaction</span>
    </app-heavy-fast-slow>
  } @placeholder {
    <div class="w-full h-20 bg-purple-100">
      Click en el div
    </div>
  }

</section>


<section>
  <hr class="my-2">


  <button class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2">
    Click me
  </button>

  @defer ( on interaction ) {
    <app-heavy-fast-slow cssClass="bg-blue-500 h-20" >
      <span class="text-center">On Interaction</span>
    </app-heavy-fast-slow>
  } @placeholder {
    <div class="w-full h-20 bg-purple-100">
      Click en el div
    </div>
  }

</section>

